page-voting-project-chat {
    ion-label {
        margin: 0 !important;
    }

    .item {
        padding-left: 0;
    }

    .chat-item {
        background-color: transparent;
    }

    .chatPageFooter {
        background-color: #f9f9f9;
        padding: 10px 10px 5px 10px;
    }

    .text-input {
        margin-bottom: 0;
    }

    .text-area {
        border-radius: 30px;
    }

    .item-input ion-textarea {
        border-radius: 30px;
        padding-left: 15px;
        padding-right: 5px;
    }

    .button-round {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

    .footer-md::before {
        background-image: url('');
    }

    .scroll-content {
        margin-bottom: 28px !important;
    }

    .badge {
        position: absolute;
        padding: 4px;
        border-radius: 10px;
        top: -4px !important;
        left: 15px !important;
        font-size: 10px;
        font-weight: 400 ! important;
    }
}
