<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
          <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Conversas
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="openNotifications($event)">
          <ion-icon name="notifications"></ion-icon>
          <ion-badge class="badge" color="danger" *ngIf="unreadNotifications > 0">
              {{unreadNotifications}}
          </ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content padding class="chatPage">

  <ion-list no-lines>
    <ion-item *ngFor="let msg of messages" class="chat-item">
      <p text-center *ngIf="msg.action == 'enter'">{{msg.nameUser}} entrou na conversa</p>
      <p text-center *ngIf="msg.action == 'exit'">{{msg.nameUser}} saiu da conversa</p>
      <chat *ngIf="!msg.action" [message]="msg"></chat>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="chatPageFooter" >
  <ion-item class="text-area" *ngIf="!activeChat">
      <p text-center>A conversa está bloqueada</p>
  </ion-item>
  
  <ion-grid no-padding no-margin *ngIf="activeChat">
    <ion-row>
      <ion-col text-left>
        <ion-item class="text-area">
          <div item-content style="width:100%;">
            <elastic-text-area #txtChat placeholder="Digite aqui..." lineHeight="22"></elastic-text-area>
          </div>
        </ion-item>
      </ion-col>

      <ion-col col-2 text-center>
        <button ion-button round (click)="sendMessage()">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
