page-projetos {
  $color: (
    vermelho: #AC282B,
    verde: #006800,
    cinza: #818380
  );

  .toolbar-title {
    font-weight: 100;
  }

  .lista {
    padding: 10px;

    .label {
      margin: 0;
      height: 85%;
    }

    .border-item {
      border-left-width: 5px;
      border-left-style: solid;
      border-radius: 5px;
    }

    .green {
      border-left-color: color($color, verde);
      color: color($color, verde);
    }

    .red {
      border-left-color: color($color, vermelho);
      color: color($color, vermelho);
    }

    .grey {
      border-left-color: color($color, cinza);
      color: color($color, cinza);
    }

    .item {
      height: 80px;
      margin-bottom: 10px;
      padding-left: 10px;
      font-size: 1.4rem;
    }

    .row {
      font-family: Arial;
    }

    .row1 {
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;

      .title-overflow {
        overflow: auto;
        text-overflow: ellipsis;
      }
    }

    .row2 {
      font-size: 1.1rem;
      text-transform: uppercase;
      color: black;
    }

    .row3 {
      font-size: 1rem;
      color: black;
      margin-top: 6px;
    }

    .item-inner {
      border-bottom: 0 solid #dedede !important;
    }

    .buttonPopover {
      float: right;
      background-color: transparent;
    }
  }
}

