<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="openMenu()">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Planning Poker <b>Cards</b></ion-title>

        <!--<ion-buttons right>
            <button ion-button icon-only>
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>-->
    </ion-navbar>
</ion-header>


<ion-content>
    <!-- Refresher -->
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Puxe para atualizar"
                refreshingSpinner="circles"
                refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>


    <ion-list class="lista">
        <ion-item *ngIf="projects.length == 0">
            <p text-center>Nenhum projeto encontrado</p>
        </ion-item>

        <ion-item *ngFor="let project of projects; let i = index" class="border-item"
                  [ngClass]="{'green': project.start_in_date, 'red': project.date_end}">
            <ion-grid no-padding no-margin>
                <ion-row class="row1">
                    <ion-col col-10 class="title-overflow" (click)="openProject(project)">{{ project.title }}</ion-col>
                    <ion-col col-2 (click)="projectPopover($event, project, i)">
                        <button icon-right class="buttonPopover">
                            <ion-icon name="more"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>

                <ion-row class="row2" (click)="openProject(project)">
                    <ion-col col-12>{{ project.description }}</ion-col>
                </ion-row>

                <ion-row class="row3" (click)="openProject(project)">
                    <ion-col col-4>
                        Criado em <br>
                        <ion-icon name="md-calendar"></ion-icon>
                        {{ project.createdAt | date: 'dd/MM/yyyy HH:mm' }}
                    </ion-col>

                    <ion-col col-md-4 offset-1 *ngIf="project.date_end">
                        Terminado em <br>
                        <ion-icon name="md-time"></ion-icon>
                        {{ project.date_end | date: 'dd/MM/yyyy HH:mm' }}
                    </ion-col>

                    <ion-col col-md-4 offset-1 *ngIf="project.start_in_date && !project.date_end">
                        <br>
                        <ion-icon name="md-time"></ion-icon>
                        Acontecendo
                    </ion-col>

                    <ion-col col-md-4 offset-1 *ngIf="!project.date_end && !project.start_in_date">
                        Começa em <br>
                        <ion-icon name="md-time"></ion-icon>
                        {{ project.date_start | date: 'dd/MM/yyyy HH:mm' }}
                    </ion-col>

                    <ion-col col-2>
                        Estórias <br>
                        <ion-icon name="md-clipboard"></ion-icon>
                        {{ project.total_story_voted }}/{{ project.total_story }}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>

    <!-- Botão Cadastro (flutuante) -->
    <ion-fab bottom right *ngIf="dataUserLogged.role === 'admin'">
        <button ion-fab mini (click)="cadastroProjeto()">
            <ion-icon class="icon-plus" name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
