<!--
Para mostrar a carta basta chamar o código <carta PARAMETROS> </carta>, onde você deve passar alguns parametros:

typeCard="TIPO" -> este é obrigatório e o tipo pode ser (active, desabled, secret)

- Se o tipo da carta for ACTIVE você deve informar qual o texto irá mostrar:
textCard="TEXTO"

- Se o tipo da carta for DESABLED você deve informar qual o texto irá mostrar:
textDesabled="TEXTO"

- Para mostrar o header com o nome do usuário e o departamento passe os valores:
nameUser="Carlos Eduardo"
departmentUser="Moderador"
-->

<div *ngIf="typeCard">
    <div class="header-user" *ngIf="nameUser || typeCard == 'secret'">
        <div [ngClass]="{'active': typeCard == 'active' || typeCard == 'secret', 'desabled': typeCard == 'desabled'}">
            <ion-item>
                <ion-avatar item-start>
                    <div *ngIf="!pictureUser">
                        <ion-icon name="contact" class="icon-photo"></ion-icon>
                    </div>

                    <div *ngIf="pictureUser">
                        <img src="assets/img/avatar.png">
                    </div>
                </ion-avatar>
                <h2 [innerHTML]="nameUser"></h2>
                <p [innerHTML]="departmentUser" *ngIf="departmentUser"></p>
            </ion-item>
        </div>
    </div>

    <div class="content">
        <div [ngClass]="{'secretCard': typeCard == 'secret',
                        'contentActive': typeCard == 'active',
                        'contentSelect': typeCard == 'select',
                        'contentDesabled': typeCard == 'desabled'}">

            <div class="textActive" [innerHTML]="textCard"
                 *ngIf="textCard && typeCard == 'active' || typeCard == 'select'"></div>
            <div class="textDesabled" [innerHTML]="textDesabled" *ngIf="typeCard == 'desabled'"></div>
        </div>
    </div>
</div>
