$colorsCarta: (
	primary: color($colors, primary),
	light: color($colors, light),
        light-gray: #f1f1f1,
        gray: #bbb9b9
);

carta {
	.content {
		margin: 0px;
		position: relative;
		height: 230px;

		.secretCard {
			width: 100%;
			height: 100%;
			background-color: color($colorsCarta, light);
			background-image: url(../assets/img/logo-icone.png);
			background-repeat: no-repeat;
			background-position: center center;
		}

		.contentActive {
			padding: 10px;
			background-color: color($colorsCarta, light);
			width: 100%;
			height: 100%;

          .select {
            border: 3px solid;
            border-color: color($colorsCarta, light);
          }

          .textActive {
            width: 100%;
            height: 100%;
            font-size: 6em;
            text-align: center;
            line-height: 200px;
            color: color($colorsCarta, primary);
          }
        }

      .contentSelect {
        //padding: 10px;
        background-color: color($colorsCarta, light);
        width: 100%;
        height: 100%;
        border: 3px solid;
        border-color: color($colorsCarta, primary);

			.textActive {
				width: 100%;
				height: 100%;
				font-size: 6em;
				text-align: center;
				line-height: 200px;
				color: color($colorsCarta, primary);
			}
		}

		.contentDesabled {
			background-color: color($colorsCarta, light-gray);
			width: 100%;
			height: 100%;

			.textDesabled {
				text-transform: uppercase;
				text-align: center;
            	font-size: 1em;
				position: relative;
				top: 40%;
				color: color($colorsCarta, gray);
				padding: 5px;
			}
		}
	}

	.header-user {
		.label {
			margin: 5px 0 5px 0;
			padding-right: 5px;
		}

		.item-md.item-block .item-inner {
			padding: 0;
			border: 0;
		}

		.item-ios.item-block .item-inner {
			padding: 0;
			border: 0;
		}

		.item {
			height: 45px;
			padding: 0;

			h2 {
				color: color($colors, light);
				font-size: 1.2rem;
			}

			p {
				color: color($colors, light);
				font-size: 1rem;
			}
		}

		.item ion-avatar[item-start] {
			margin-left: 5px;
			margin-right: 5px;
			margin-top: 0;
			margin-bottom: 0;
			border-radius: 50%;
			min-width: 20px;
    		min-height: 20px;
			overflow: hidden;
		}

		.item ion-avatar img {
			width: 34px;
    		height: 34px;
			border: 2px solid;
			border-color: color($colors, light);
			position: relative;
		}

		.icon-photo {
			color: color($colorsCarta, light);
			font-size: 2.3em;
		}

		.active {
			.item {
				background-color: color($colorsCarta, primary);
			}
		}

		.desabled {
			.item {
				background-color: color($colorsCarta, gray);
			}
		}
	}
}
