page-tab-voting-project-menu-team {
    .item {
        height: 45px;
        padding-left: 0;

        h2 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .item ion-avatar img {
        width: 34px;
        height: 34px;
        border: 2px solid;
        border-color: color($colors, light);
        position: relative;
    }

    .item ion-avatar[item-start] {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 50%;
        min-width: 20px;
    	min-height: 20px;
        overflow: hidden;
    }

    .icon-photo {
        font-size: 2.3em;
        padding-left: 5px;
    }

    .online {
        float: right;
        line-height: 32px;
        margin: 0 1px 0 4px;
        text-align: right;

        span {
            background: rgb(66, 183, 42);
            border-radius: 50%;
            display: inline-block;
            height: 6px;
            margin-left: 4px;
            width: 6px;
        }
    }

}
