<ion-header>
    <ion-navbar>
      <ion-title></ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let user of team; let i = index">
      <ion-avatar item-start>
        <div *ngIf="!user.profilePicture">
          <ion-icon name="contact" class="icon-photo"></ion-icon>
        </div>

        <div *ngIf="user.profilePicture">
          <ion-img cache="true" src="assets/img/avatar.png"></ion-img>
        </div>
      </ion-avatar>

      <div class="online" *ngIf="user.online">
        <span></span>
      </div>

      <h2>{{ user.name }}</h2>
      <p>{{ user.department }}</p>
    </ion-item>
  </ion-list>
</ion-content>