<ion-content padding>
  <div class="logo logo-neppo">
    <ion-img [width]="250" [height]="70" src="assets/img/logo-neppo.png" alt="Neppo"></ion-img>
  </div>

  <form padding [formGroup]="formLogin" (ngSubmit)="login(); $event.preventDefault()">
    <div class="logo">
      <ion-img [width]="250" [height]="145" src="assets/img/logo-app.png" alt="Scrum Poker Neppo"></ion-img>
    </div>

    <ion-list no-lines>
      <ion-item *ngIf="error">
        <p>Os dados informados não estão corretos.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input type="text" spellcheck="false" autocapitalize="off" formControlName="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="formLogin.get('email').errors && formLogin.get('email').dirty">
        <p *ngIf="formLogin.get('email').hasError('required')">Campo obrigatório</p>
        <p *ngIf="formLogin.get('email').hasError('pattern')">E-mail inválido</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="formLogin.get('password').errors && formLogin.get('password').dirty">
        <p *ngIf="formLogin.get('password').hasError('required')">Campo obrigatório</p>
        <p *ngIf="formLogin.get('password').hasError('minlength')">Mínimo 6 caracteres</p>
      </ion-item>
    </ion-list>

    <button ion-button full type="submit" [disabled]="formLogin.invalid">Entrar</button>
  </form>
</ion-content>
