<ion-header>
	<ion-navbar color="primary">
		<ion-buttons left>
			<button ion-button icon-only (click)="dismiss()">
				<ion-icon name="md-arrow-back"></ion-icon>
			</button>
		</ion-buttons>

		<ion-title>{{titleProject}}</ion-title>
	</ion-navbar>

	<ion-toolbar color="secondary">
        <ion-title text-center>Cartas do Baralho</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col col-6 col-sm *ngFor="let card of cardsProject; let i = index">
                <carta (click)="selectCard(card, i)"
                       typeCard='{{card.typeCard}}'
                       textCard='{{card.number}}'>
                </carta>
            </ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<ion-footer no-border>
	<ion-toolbar color="secondary">
		<button ion-button full (click)="saveCard()">Escolher</button>
	</ion-toolbar>
</ion-footer>
