<ion-grid no-padding no-margin>
  <ion-row>
    <ion-col>
      <div class="chat-bubble {{msg.isMe === true ? 'right' : 'left'}}">
        <div class="message-name">
          <p style="font-weight:bold;">{{msg.nameUser}}</p>
        </div>

        <div class="message">{{msg.message}}</div>

        <div class="message-datetime">
          <ion-row>
            <ion-col text-right no-padding>
                <p>{{msg.date | date: 'HH:mm'}}</p>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>