<ion-header>
    <ion-navbar hideBackButton="true" color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Relatório de Projeto</ion-title>
    </ion-navbar>

    <ion-toolbar color="secondary">
        <ion-title class="toolbar-estory">
            {{paramsProject.title}}
        </ion-title>

        <ion-buttons right>
            <button ion-button icon-only color="quaternary" (click)="viewDescriptionProject()">
                <ion-icon name="information-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Puxe para atualizar"
                refreshingSpinner="circles"
                refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list #scheduleList>
        <ion-grid no-padding no-margin>
            <ion-item-group *ngFor="let story of stories; let i = index">
                <div class="divider">
                    <ion-item-divider sticky>
                        <ion-row class="story-details">
                            <ion-col class="title-overflow">
                                <p>Estória:</p>
                                <b>{{story.title}}</b>
                            </ion-col>
                            <ion-col col-3 col-sm-2 center text-center>
                                <p>Tempo Total:</p>
                                {{story.time_total}}
                            </ion-col>
                            <ion-col col-3 col-sm-2 center text-center>
                                <p>Carta Final:</p>
                                <ion-badge item-end>{{story.card_final}}</ion-badge>
                            </ion-col>
                        </ion-row>
                    </ion-item-divider>
                </div>

                <ion-item-sliding *ngFor="let user of story.users_voted; let i = index" #slidingItem>
                    <button ion-item>
                        <ion-row>
                            <ion-col class="title-overflow">
                                {{user.name}}
                            </ion-col>
                            <ion-col col-3 col-sm-2 center text-center>
                                {{user.time_voting}}
                            </ion-col>
                            <ion-col col-3 col-sm-2 center text-center>
                                {{user.note}}
                            </ion-col>
                        </ion-row>
                    </button>
                </ion-item-sliding>
            </ion-item-group>
        </ion-grid>
    </ion-list>

</ion-content>
