<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Iniciar Votação de Estória</ion-title>
    </ion-navbar>

    <ion-toolbar color="secondary">
        <ion-title text-center>{{ paramsProject.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- Refresher -->
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Puxe para atualizar"
                refreshingSpinner="circles"
                refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <!-- Lista -->
    <ion-list radio-group (ionChange)="selectStory($event)">
        <ion-item *ngIf="storys.length == 0">
            <p text-center>Nenhuma estória encontrada</p>
        </ion-item>

        <ion-item-sliding *ngFor="let story of storys; let i = index" #slidingItem>
            <ion-item>
                <ion-label>{{ story.title }}</ion-label>
                <ion-radio value="{{ story._id }}" disabled="{{story.time_total ? true : false}}"></ion-radio>
            </ion-item>

            <ion-item-options side="right">
                <button ion-button color="information" (click)="viewDescriptionStory(story)">
                    Descrição
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

	<!-- Botão Adicionar flutuante -->
	<ion-fab bottom right *ngIf="dataUserLogged.role === 'admin'">
		<button ion-fab mini (click)="insertStory()">
			<ion-icon class="icon-next" name="add"></ion-icon>
		</button>
	</ion-fab>
</ion-content>

<ion-footer no-border>
    <ion-toolbar color="secondary">
        <button ion-button full (click)="startVoting()">Iniciar Votação</button>
    </ion-toolbar>
</ion-footer>
