<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf="stories.length == 0">
        <p text-center>Nenhuma estória encontrada</p>
    </ion-item>

    <ion-grid no-padding no-margin>
      <ion-item-sliding *ngFor="let story of stories; let i = index" #slidingItem>
          <ion-item>
            <ion-row class="story-details">
              <ion-col class="title-overflow">
                <p>Estória:</p>
                {{story.title}}
              </ion-col>
              <ion-col col-3 col-sm-2 center text-center *ngIf="story.time_total">
                <p>Tempo Total:</p>
                {{story.time_total}}
              </ion-col>
              <ion-col col-3 col-sm-2 center text-center *ngIf="story.card_final">
                <p>Carta Final:</p>
                {{story.card_final}}
              </ion-col>
            </ion-row>
          </ion-item>

          <ion-item-options side="right" icon-left>
            <button ion-button color="quaternary" (click)="viewDescriptionStory(story, slidingItem)">
              <ion-icon name="information-circle" color="primary"></ion-icon>
            </button>

            <button ion-button color="secondary" (click)="summaryStory(story, slidingItem)" *ngIf="story.time_total">
              Resumo
            </button>
          </ion-item-options>
      </ion-item-sliding>
    </ion-grid>
  </ion-list>
</ion-content>
