page-tab-voting-project-menu-story {
    .label {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .story-details {
      p {
        font-size: 1rem;
      }
    }

    .title-overflow {
        overflow: auto;
        text-overflow: ellipsis;
    }
}
