<ion-header>
	<ion-navbar color="primary">
		<ion-buttons left>
			<button ion-button icon-only (click)="dismiss()">
				<ion-icon name="md-arrow-back"></ion-icon>
			</button>
		</ion-buttons>

		<ion-title>{{textTitlePage}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<form padding [formGroup]="form" novalidate (ngSubmit)="submit(); $event.preventDefault()">
    <ion-list no-lines>
		<ion-item>
            <ion-label floating>Descrição Curta</ion-label>
            <ion-input type="text" formControlName="title" max="100"></ion-input>
		</ion-item>
		<ion-item *ngIf="form.get('title').errors && form.get('title').dirty">
			<p *ngIf="form.get('title').hasError('required')">Campo obrigatório</p>
		</ion-item>

      	<ion-item>
            <ion-label floating>Descrição Longa</ion-label>
		  	<ion-textarea formControlName="description"></ion-textarea>
      	</ion-item>
		<ion-item *ngIf="form.get('description').errors && form.get('description').dirty">
			<p *ngIf="form.get('description').hasError('required')">Campo obrigatório</p>
		</ion-item>
    </ion-list>

		<button ion-button type="submit" [disabled]="form.invalid" full>Salvar</button>
  </form>
</ion-content>
