<ion-header>
    <ion-navbar hideBackButton="true" color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>{{textTitlePage}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
    <form padding [formGroup]="form" novalidate>
		<ion-list no-lines>
			<ion-item>
				<ion-label floating>Nome Projeto</ion-label>
                <ion-input name="title" type="text" formControlName="title" max="100"></ion-input>
			</ion-item>
			<ion-item *ngIf="form.get('title').errors && form.get('title').dirty">
				<p *ngIf="form.get('title').hasError('required')">Campo obrigatório</p>
			</ion-item>

			<ion-item>
				<ion-label floating>Descrição</ion-label>
				<ion-textarea name="description" formControlName="description"></ion-textarea>
			</ion-item>
			<ion-item *ngIf="form.get('description').errors && form.get('description').dirty">
				<p *ngIf="form.get('description').hasError('required')">Campo obrigatório</p>
			</ion-item>

			<ion-item>
				<ion-label floating>Usuários Participantes</ion-label>
				<ion-select multiple="true" formControlName="team">
					<div *ngFor="let user of allUsers">
						<ion-option *ngIf="user._id !== dataUserLogged._id" [value]="user._id">{{user.name}}</ion-option>
					</div>
				</ion-select>
			</ion-item>
			<ion-item *ngIf="form.get('team').errors && form.get('team').dirty">
				<p *ngIf="form.get('team').hasError('required')">Campo obrigatório</p>
			</ion-item>

            <ion-card>
                <ion-list-header>
                    Cartas do Baralho

                    <button ion-button icon-center clear item-end (click)="infoCard()">
                        <ion-icon name="information-circle"></ion-icon>
                    </button>

                    <button ion-button icon-center clear item-end (click)="addCard()">
                        <ion-icon name="add-circle"></ion-icon>
                    </button>
                </ion-list-header>

                <ion-list>
                    <ion-row>
                        <ion-col col-6 col-sm *ngFor="let carta of cartas; let i = index">
                            <ion-item>
                                <ion-label>{{carta}}</ion-label>
                                <ion-checkbox checked="" (ionChange)="selectCard(carta, i, $event)"></ion-checkbox>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-list>
            </ion-card>

            <ion-item>
				<ion-label floating>Data e Hora de Ínicio</ion-label>
				<ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD/MM/YYYY HH:mm" formControlName="date_start"
											[(ngModel)]="myDate"></ion-datetime>
			</ion-item>
			<ion-item *ngIf="form.get('date_start').errors && form.get('date_start').dirty">
				<p *ngIf="form.get('date_start').hasError('required')">Campo obrigatório</p>
			</ion-item>
		</ion-list>

        <button ion-button type="submit" [disabled]="form.invalid" (click)="submit()" full>{{textSubmit}}</button>
	</form>
</ion-content>
