<ion-header>
    <ion-navbar hideBackButton="true" color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Relatório de Projeto</ion-title>
    </ion-navbar>

    <ion-toolbar color="secondary">
        <ion-title class="toolbar-estory">
            {{paramsProject.title}}
        </ion-title>

        <ion-buttons right>
            <button ion-button icon-only color="quaternary" (click)="viewDescriptionProject()">
                <ion-icon name="information-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Puxe para atualizar"
                refreshingSpinner="circles"
                refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list #scheduleList>
        <ion-grid no-padding no-margin>
            <ion-item-group *ngFor="let user of users; let i = index">
                <div class="divider">
                    <ion-item-divider sticky>
                        <ion-row class="story-details">
                            <ion-col class="title-overflow">
                                <p>Nome:</p>
                                <b>{{user.name}}</b>
                            </ion-col>
                        </ion-row>
                    </ion-item-divider>
                </div>

                <ion-item-sliding *ngFor="let story of user.stories; let i = index" #slidingItem>
                    <button ion-item>
                        <ion-row>
                            <ion-col class="title-overflow">
                                {{story.title}}
                            </ion-col>
                            <ion-col col-3 col-sm-2 center text-center>
                                {{story.time_voting}}
                            </ion-col>
                            <ion-col col-3 col-sm-2 center text-center>
                                {{story.note}}
                            </ion-col>
                        </ion-row>
                    </button>

                    <ion-item-options side="right" icon-left>
                        <button ion-button color="quaternary" (click)="viewDescriptionStory(story, slidingItem)">
                            <ion-icon name="information-circle" color="primary"></ion-icon>
                        </button>

                        <button ion-button color="information" (click)="summaryStory(story, slidingItem)">
                            Resumo
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-item-group>
        </ion-grid>
    </ion-list>

</ion-content>