page-voting-project-report-story {
.label {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .divider {
    .item-divider {
      background-color: #f3f3f3;
    }

    .item [item-end] {
      margin: 0;
    }

    .story-details {
      p {
        font-size: 1rem;
      }
    }
  }

  .title-overflow {
    overflow: auto;
    text-overflow: ellipsis;
  }
}
