<ion-header>
    <ion-navbar hideBackButton="true" color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Resumo da Estória</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list #scheduleList>
        <ion-grid no-padding no-margin>
            <ion-item-group>
                <div class="divider">
                    <ion-item-divider sticky>
                        <ion-row class="story-details">
                            <ion-col class="title-overflow">
                                <p>Estória:</p>
                                <b>{{data?.title}}</b>
                            </ion-col>
                            <ion-col col-3 col-sm-2 center text-center>
                                <p>Tempo Total:</p>
                                {{data?.time_total}}
                            </ion-col>
                            <ion-col col-3 col-sm-2 center text-center>
                                <p>Carta Final:</p>
                                <ion-badge item-end>{{data?.card_final}}</ion-badge>
                            </ion-col>
                        </ion-row>
                    </ion-item-divider>
                </div>

                <ion-item-sliding *ngFor="let user of data?.users_voted; let i = index" #slidingItem>
                    <button ion-item>
                        <ion-row>
                            <ion-col class="title-overflow">
                                {{user?.name}}
                            </ion-col>
                            <ion-col col-3 col-sm-2 center text-center>
                                {{user?.time_voting}}
                            </ion-col>
                            <ion-col col-3 col-sm-2 center text-center>
                                {{user?.note}}
                            </ion-col>
                        </ion-row>
                    </button>
                </ion-item-sliding>
            </ion-item-group>
        </ion-grid>
    </ion-list>

    
    <form>
        <canvas #pizzaChartCanvas></canvas>
        <p text-center>{{totalUsersVoted}} pessoas participaram da votação <br> Média das notas: {{mediaNotas}}</p>
    </form>
</ion-content>