<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="openMenu()">
                <img width="30" height="30" src="assets/img/icone-menu.png">
            </button>
        </ion-buttons>

        <ion-title>{{ paramsProject.title }}</ion-title>

        <ion-buttons right>
            <button ion-button icon-only (click)="openChat()">
                <ion-icon name="chatbubbles"></ion-icon>
                <ion-badge class="badge" color="danger" *ngIf="unreadChat > 0">
                    {{unreadChat}}
                </ion-badge>
            </button>

            <button ion-button icon-only (click)="openNotifications($event)">
                <ion-icon name="notifications"></ion-icon>
                <ion-badge class="badge" color="danger" *ngIf="unreadNotifications > 0">
                    {{unreadNotifications}}
                </ion-badge>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar color="secondary" class="toolbar-estory">
        <ion-buttons left *ngIf="storyCurrent.length == 0">
            <h4>Total Estórias: {{total_story}}</h4>
        </ion-buttons>

        <ion-title *ngIf="storyCurrent.length !== 0">
            {{total_story_voted}}/{{total_story}} {{storyCurrent.title}}
        </ion-title>

        <ion-buttons right>
            <h4 *ngIf="storyCurrent.length == 0">Restantes: {{total_story - total_story_voted}}</h4>

            <button ion-button icon-only color="quaternary" (click)="viewDescriptionStory()" *ngIf="storyCurrent.length !== 0">
                <ion-icon name="information-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list padding *ngIf="teamProjectOnline.length == 0">
        <ion-item>
            <p text-center>Nenhum jogador online</p>
        </ion-item>
    </ion-list>

    <ion-grid>
        <ion-row>
            <ion-col col-6 col-sm *ngFor="let user of teamProjectOnline; let i = index">
                <carta
                        typeCard='{{user.typeCard}}'
                        textDesabled="{{textCardDesabled}}"
                        textCard='{{user?.valueVotedCard}}'

                        nameUser='{{user.name}}'
                        departmentUser='{{user.department}}'>
                </carta>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer no-border>

    <!-- Admin -->
    <ion-toolbar color="secondary" *ngIf="idAdminProject === dataUserLogged._id">
        <ion-buttons left>
            <button ion-button (click)="cancelVotingStarted()" *ngIf="votingStarted && cardsTurn == false">Cancelar</button>
            <button ion-button (click)="restartVotingStory()" *ngIf="cardsTurn">Refazer</button>
        </ion-buttons>

        <ion-title text-center *ngIf="votingStarted || cardsTurn">
            {{horas<10 ? "0"+horas : horas}}:{{minutos<10 ? "0"+minutos : minutos}}:{{segundos<10 ? "0"+segundos : segundos}}
        </ion-title>

        <ion-buttons right>
            <button ion-button (click)="pageStartVoting()" *ngIf="votingStarted == false && cardsTurn == false">Iniciar</button>
            <button ion-button color="quaternary" (click)="turnCards()" *ngIf="votingStarted && cardsTurn == false">Virar</button>
            <button ion-button color="quaternary" (click)="setFinalCardStory()" *ngIf="cardsTurn">Carta Final</button>
        </ion-buttons>
    </ion-toolbar>

    <!-- Usuário -->
    <ion-toolbar color="secondary" *ngIf="idAdminProject !== dataUserLogged._id && votingStarted">
        <ion-title text-center>
            {{horas<10 ? "0"+horas : horas}}:{{minutos<10 ? "0"+minutos : minutos}}:{{segundos<10 ? "0"+segundos : segundos}}
        </ion-title>

        <ion-buttons right *ngIf="dataUserLogged.isTeam && cardsTurn === false">
            <button ion-button color="quaternary" (click)="openPageCards()">Votar</button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
