page-votacao-projeto {
  .toolbar-estory {
    .toolbar-title {
      color: color($colors, quaternary) !important;
    }

    h4 {
      color: color($colors, light) !important;
      margin: 0;
    }
  }

  .badge {
    position: absolute;
    padding: 4px;
    border-radius: 10px;
    top: -4px !important;
    left: 15px !important;
    font-size: 10px;
    font-weight: 400 ! important;
  }
}
