.content {
  background-color: #f9f9f9;
}

form {
  background-color: color($colors, light);
}

.content-menu {
  .content {
    background-color: color($colors, secondary);
  }

  .item {
    background-color: color($colors, secondary);
    color: color($colors, light);
    border-bottom: 1px solid #1b7cbf;
  }

  .item p {
    color: #f1f1f1;
    font-size: 1.2rem;
  }

  .item-md.item-block .item-inner {
    border-bottom: 0;
  }

  .item-ios.item-block .item-inner {
    border-bottom: 0;
  }

  .activeHighlight {
    background-color: color($colors, tertiary);
  }

  .icon-menu {
    padding-right: 5px;
  }

  .header-item {
    padding-left: 3px;
  }

  .item ion-avatar img {
    width: 34px;
    height: 34px;
    border: 2px solid;
    border-color: color($colors, light);
    position: relative;
  }

  .icon-photo {
    color: color($colors, light);
    font-size: 2.8em;
  }

  .item ion-avatar[item-start] {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    overflow: hidden;
    padding: 0;
  }

  .toolbar {
    min-height: 0;
  }
}
