<!-- Menu Principal -->
<ion-menu [content]="content" side="left" id="menuPrincipal" class="content-menu">
	<ion-header no-border>
		<ion-toolbar color="secondary">
			<ion-item class="header-item">
				<ion-avatar item-start>
					<div *ngIf="!userLogged.profilePicture">
                        <ion-icon name="contact" class="icon-photo"></ion-icon>
                    </div>

                    <div *ngIf="userLogged.profilePicture">
                        <img src="assets/img/avatar.png">
                    </div>
				</ion-avatar>
                <h2>{{ userLogged.name }}</h2>
                <p>{{ userLogged.department }}</p>
			</ion-item>
		</ion-toolbar>
	</ion-header>

	<ion-content>
		<ion-list>
			<button menuClose ion-item *ngFor="let p of pages" [class.activeHighlight]="checkActive(p)"
					(click)="openPage(p)">
				<ion-icon name="{{p.icon}}" class="icon-menu"></ion-icon>
				{{p.title}}
			</button>
		</ion-list>
	</ion-content>

	<ion-footer no-border>
		<ion-toolbar color="primary">
			<ion-buttons left>
				<img [width]="100" src="assets/img/logo-neppo.png">
			</ion-buttons>

			<ion-buttons right>
				<button ion-button icon-only (click)="logout()">
					<ion-icon name="exit"></ion-icon>
				</button>
			</ion-buttons>
		</ion-toolbar>
	</ion-footer>
</ion-menu>

<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>
