<ion-header>
    <ion-navbar hideBackButton="true" color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Estórias</ion-title>
    </ion-navbar>

    <ion-toolbar color="secondary">
        <ion-title text-center>{{ paramsProject.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- Refresher -->
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Puxe para atualizar"
                refreshingSpinner="circles"
                refreshingText="Atualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <!-- Lista -->
    <ion-list>
        <ion-item *ngIf="storys.length == 0">
            <p text-center>Nenhuma estória encontrada</p>
        </ion-item>

        <ion-item-sliding *ngFor="let story of storys; let i = index" #slidingItem>
            <ion-item>
                <h2>{{ story.title }}</h2>
                <p>{{ story.description }}</p>
            </ion-item>

            <ion-item-options side="right" icon-left
                              *ngIf="dataUserLogged.role === 'admin' || dataUserLogged._id === paramsProject.id_user">
                <button ion-button color="information" (click)="updateStory(story, i)">
                    <ion-icon name="create"></ion-icon>
                    Editar
                </button>

                <button ion-button color="danger" (click)="deleteStory(story, slidingItem, i)">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <!-- Botão Adicionar flutuante -->
    <ion-fab bottom right *ngIf="dataUserLogged.role === 'admin'">
        <button ion-fab mini (click)="insertStory()">
            <ion-icon class="icon-next" name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
