page-tab-voting-project-menu {
    .badge {
        position: absolute;
        padding: 4px;
        border-radius: 10px;
        top: -4px !important;
        left: 15px !important;
        font-size: 10px;
        font-weight: 400 ! important;
    }
}
