<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>{{ params.project.title }}</ion-title>

        <ion-buttons right>
            <button ion-button icon-only (click)="openNotifications($event)">
                <ion-icon name="notifications"></ion-icon>
                <ion-badge class="badge" color="danger" *ngIf="unreadNotifications > 0">{{unreadNotifications}}</ion-badge>
            </button>

            <button ion-button icon-only (click)="exitProject()">
                <ion-icon name="exit"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-tabs color="primary">
    <ion-tab [root]="tabVotingProjectMenuTeamRoot" [rootParams]="params" tabTitle="Equipe"></ion-tab>
    <ion-tab [root]="tabVotingProjectMenuStoryRoot" [rootParams]="params" tabTitle="Estórias"></ion-tab>
</ion-tabs>
