<ion-tabs color="primary">
    <ion-tab [root]="tabProjectStoryRoot" [rootParams]="params" tabTitle="Estórias"></ion-tab>
    <ion-tab [root]="tabProjectTeamRoot" [rootParams]="params" tabTitle="Equipe"></ion-tab>
</ion-tabs>