<ion-header>
    <ion-navbar hideBackButton="true" color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Detalhes</ion-title>

        <ion-buttons right *ngIf="userLogged?.role === 'admin' || userLogged?._id === paramsProject?.id_user">
            <button ion-button icon-only (click)="editProject()">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form>
        <ion-list no-lines>
            <ion-item>
                <ion-label floating>Nome Projeto</ion-label>
                <ion-input readonly="true" value="{{paramsProject?.title}}"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Descrição</ion-label>
                <ion-textarea readonly="true" value="{{paramsProject?.description}}"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label floating>Data e Hora de Ínicio</ion-label>
                <ion-input readonly="true"
                           value="{{paramsProject?.date_start | date: 'dd/MM/yyyy HH:mm' }}"></ion-input>
            </ion-item>

            <ion-card>
                <ion-list-header>
                    Equipe
                </ion-list-header>

                <ion-list>
                    <ion-item *ngFor="let team of paramsProject?.team">
                        <ion-label>{{team?.name}}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-card>

            <ion-card>
                <ion-list-header>
                    Cartas do Baralho
                </ion-list-header>

                <ion-list>
                    <ion-row>
                        <ion-col col-3 col-sm *ngFor="let carta of paramsProject?.cards">
                            <ion-item>
                                <ion-label>{{carta}}</ion-label>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-list>
            </ion-card>
        </ion-list>
    </form>

    <p class="detalhes">
        Cadastro dia {{paramsProject?.createdAt | date: 'dd/MM/yyyy HH:mm' }}, por {{paramsProject?.id_user[0].name}}
    </p>
</ion-content>
