<ion-tabs color="primary" selectedIndex="{{indexTab}}">
    <ion-tab [root]="tabProjectRoot" [rootParams]="params" tabTitle="Projeto"></ion-tab>
    <ion-tab [root]="tabProjectStoryRoot" [rootParams]="params" tabTitle="Estórias"></ion-tab>
</ion-tabs>