<ion-header>
    <ion-navbar hideBackButton="true" color="primary">
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Relatório de Projeto</ion-title>
    </ion-navbar>

    <ion-toolbar color="secondary">
        <ion-title class="toolbar-estory">
            {{paramsProject.title}}
        </ion-title>

        <ion-buttons right>
            <button ion-button icon-only color="quaternary" (click)="viewDescriptionProject()">
                <ion-icon name="information-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            Nota Estórias (final e média)
        </ion-card-header>
        <ion-card-content>
            <canvas #barCanvas></canvas>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Tempo Votação
        </ion-card-header>
        <ion-card-content>
            <canvas #doughnutCanvas></canvas>
        </ion-card-content>
    </ion-card>
</ion-content>