page-voting-project-notification {
  .label-md {
    margin-right: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .list-header {
    margin-bottom: 0;
    background-color: #ffffff !important;
  }

  .item {
    background-color: #f9f9f9;
    padding-left: 10px;
    padding-right: 5px;
  }

  .item-not {
    .nameUser {
      color: #000;
      font-size: 1.1rem;
    }

    .nameStory {
      color: #000;
      font-size: 1.2rem;
      font-style: italic;
    }

    .date {
      color: #d1d1d1;
      font-size: 1rem;
    }
  }
}
