<ion-content>
    <ion-list no-margin no-padding>
        <ion-grid no-padding no-margin>
            <ion-list-header>
                Notificações
            </ion-list-header>

            <ion-item *ngIf="newDataNotifications.length == 0">
                <p text-center>Nenhuma notificação</p>
            </ion-item>

            <ion-item class="item-not" *ngFor="let data of newDataNotifications; let i = index">
                <p class="nameUser" *ngIf="data.nameUser">{{data.nameUser}}:</p>

                <p *ngIf="data.action == 'enter'">Entrou na sala</p>
                <p *ngIf="data.action == 'exit'">Deixou a sala</p>
                <p *ngIf="data.action == 'startVoting'">Iniciou a votação da estória:</p>
                <p *ngIf="data.action == 'restartVoting'">Reiniciou a votação da estória:</p>
                <p *ngIf="data.action == 'cancelVoting'">Cancelou a votação da estória:</p>
                <p *ngIf="data.action == 'finishVoting'">Finalizou a votação da estória:</p>
                <p *ngIf="data.action == 'turnedCards'">Virou todas as cartas da mesa</p>

                <p *ngIf="data.nameStory" class="nameStory">{{data.nameStory}}</p>

                <ion-row>
                    <ion-col col-4 left text-left no-padding>
                        <p class="date">{{data.date | date: 'dd/MM HH:mm:ss'}}</p>
                    </ion-col>
                    <ion-col col-8 text-right no-padding>
                        <p class="date">{{data.dateFrom}}</p>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-grid>
    </ion-list>
</ion-content>
